* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-principal {
    max-width: 100%;
    height: 100vh;
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-principal .intro{
    width: 90%;
    height: 30%;
    background-color: #ffffffa2;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

.container-principal .intro h3{
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}

.container-principal .intro p{
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
}

.container-principal button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    left: 1px;
}

#game {
    width: 98%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#game .verificacao {
    background-color: #ffffffc0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
}

#game .verificacao label{
    width: 100%;
    height: 30%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#game .verificacao input {
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

#game .verificacao button {
    width: 120px;
    height: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

#game .verificacao .btnVerificacao {
    display: none;
}

#game .verificacao .error {
    width: 80%;
    margin-top: 5px;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    font-size: 13px;
    color: wheat;
    text-shadow: 1px 0px black;
    text-align: center;
}

#game .verificacao .sucesso {
    width: 80%;
    margin-top: 5px;
    background-color: rgb(33, 243, 33);
    border-radius: 10px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    font-size: 13px;
    color: black;
    text-shadow: 1px 0px white;
    text-align: center;
}

#game .regras {
    background: #ffffffa2;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
}

#game #jokenpo {
    background-color: #ffffffa2;
    width: 98%;
    height: 100%;
    display: none;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    position: relative;
}

#game #jokenpo .card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px beige;
}

#game #jokenpo .card img{
    width: 50%;
}

#game #jokenpo .pedra{
    grid-column: 1;
    grid-row: 1;
}

#game #jokenpo .papel{
    grid-column: 3;
    grid-row: 1;
}

#game #jokenpo .tesoura{
    grid-column: 1;
    grid-row: 3;
    
}

#game #jokenpo .lagarto {
    grid-column: 3;
    grid-row: 3;
}

#game #jokenpo .spok {
    grid-column: 2;
    grid-row: 2;
}

#game #jokenpo button{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform:  translateX(-50%);
    background-color: rgb(11, 180, 236);
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    color: white;
    text-shadow: -1px -1px black;
    border-radius: 10px;
}

#game #jokenpo button:hover{
    background-color: rgb(43, 253, 43);
    color: black;
    text-shadow: -1px -1px white;
}

#game .resultado {
    position: absolute;
    width: 98%;
    height: 55%;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#game .resultado .btnFechar{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 110, 255);
    border: none;
    color: #ffffff;
    letter-spacing: 2;
}

#game .resultado section{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    background-image: url("../img/tbbt.jpg");
    background-size: cover;
    background-position: center;
}

#game .resultado section .msg{
    grid-column: 1/4;
    grid-row: 2;
    background-color: #ffffffe8;
    padding: 20px;
    letter-spacing: 1.5px;
    font-family: cursive, sans-serif;
    text-align: center;
}

#game .resultado section .cpu, #game .resultado section .player{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 70%;
    background-color: #ffffffa2;
}

#game .resultado section .cpu span, #game .resultado section .player span{
    width: 80%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

#game .resultado section .cpu img, #game .resultado section .player img {
    width: 50%;
}

#game .resultado section p{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    background-color: #ffffffa2;
    grid-row: 1;
    font-size: 35px;
    letter-spacing: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#game .resultado section .player{
    grid-column: 3;
    grid-row: 1;
}

@media screen and (max-width: 768px){
  .container-principal  .intro{
        width: 60%;
        height: 30%;
        font-size: 15px;
    }

    #game{
        width: 60%;
        height: 40%;
    }
}

@media screen and (min-width: 1024px){
   .container-principal .intro{
        width: 40%;
        height: 20%;
    }

    #game {
        width: 40%;
        height: 60%;
    }

    #game .resultado {
        width: 40%;
    }
}
