* {
    padding: 0;
    margin: 0;
}

.container-principal {
    max-width: 100%;
    height: 100vh;
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-principal button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    left: 1px;
}

#game {
    width: 98%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#game .verificacao {
    background-color: #ffffffc0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
}

#game .verificacao label{
    width: 100%;
    height: 30%;
    display: grid;
    align-items: center;
    justify-content: center;
}

#game .verificacao input {
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

#game .verificacao button {
    width: 120px;
    height: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

#game .verificacao .btnVerificacao {
    display: none;
}

#game .verificacao .error {
    width: 80%;
    margin-top: 5px;
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    font-size: 13px;
    color: wheat;
    text-shadow: 1px 0px black;
    text-align: center;
}

#game .verificacao .sucesso {
    width: 80%;
    margin-top: 5px;
    background-color: rgb(33, 243, 33);
    border-radius: 10px;
    font-weight: bold;
    font-family: cursive, sans-serif;
    font-size: 13px;
    color: black;
    text-shadow: 1px 0px white;
    text-align: center;
}

#game .regras {
    background: #ffffffa2;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
}

#game #jokenpo {
    background-color: #ffffffa2;
    width: 98%;
    height: 100%;
    display: none;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    position: relative;
}

#game #jokenpo .card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px beige;
}

#game #jokenpo .card img{
    width: 50%;
}

#game #jokenpo .pedra{
    grid-column: 1;
    grid-row: 1;
}

#game #jokenpo .papel{
    grid-column: 3;
    grid-row: 1;
}

#game #jokenpo .tesoura{
    grid-column: 1;
    grid-row: 3;
    
}

#game #jokenpo .lagarto {
    grid-column: 3;
    grid-row: 3;
}

#game #jokenpo .spok {
    grid-column: 2;
    grid-row: 2;
}

#game #jokenpo button{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform:  translateX(-50%);
    background-color: rgb(11, 180, 236);
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    color: white;
    text-shadow: -1px -1px black;
    border-radius: 10px;
}

#game #jokenpo button:hover{
    background-color: rgb(43, 253, 43);
    color: black;
    text-shadow: -1px -1px white;
}

#game .resultado {
    position: absolute;
    width: 98%;
    height: 60%;
    background: #fff;
    border-radius: 25px;
}